<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vue.js Pet Depot</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="lessons.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    
</head>
<body>
    <div id="app">
        <header><h1>{{sitename}}</h1>
            <button v-on:click="showCheckout" v-if=" showCheckoutButton"> {{cartItemCount}}
                <span class="fas fa-cart-plus">Checkout</span>
            </button>
            <button  v-else disabled > {{cartItemCount}}
                <span class="fas fa-cart-plus">Checkout</span>
            </button>
        </header>
        <main>
           <div v-if="showProduct">
            <div>
                <input type="text" v-model = "searchValue" placeholder="search by subject only">
                <select v-model="selectedFilter">
                    <option disabled value="">Filter</option>
                    <option v-for="filter in filters" v-bind:value="filter"  v-bind:selected="filter === selectedFilter">{{filter}}</option>
                </select>
                <select v-model="selectedArrangement">
                    <option disabled value="">Filter</option>
                    <option v-for="filter in arrangement" v-bind:value="filter"  v-bind:selected="filter === selectedArrangement">{{filter}}</option>
                </select>
            </div>

            <div class="lessons"  v-if="searchResultValue"  v-for="product in sortedProducts">
                <figure><!-- bind the 'src' attribute to the 'product.image' in 'data' -->
                    <img v-bind:src="product.image">
                </figure>
                <p>Subject: {{product.topic}}</p>
            <p>Location: {{product.location}}</p>
                    <!-- The double curly brackets is the shorter version of 'v-text' -->
                    <p>Price: {{product.price}}</p>
                    <p>Spaces: {{product.space}}</p>
                 
            
                    <button  class="myBtn" v-on:click="addToCart(product)" v-if="canAddToCart(product)">Add to Cart</button>
               
                  
                    <button class="myBtn" v-else disabled>Add to Cart</button>
            </div>
            <!-- search value -->
            <div class="lessons" v-else v-for="product in searchResults" :key="product.id">
                <figure>
                  <img :src="product.image" />
                </figure>
                <p>Subject: {{ product.topic }}</p>
                <p>Location: {{ product.location }}</p>
                <p>Price: {{ product.price }}</p>
                <p>Spaces: {{ product.space }}</p>
                <button class="myBtn" @click="addToCart(product)" v-if="canAddToCart(product)">
                  Add to Cart
                </button>
                <button class="myBtn" disabled v-else>
                  Add to Cart
                </button>
              </div>
        
          
        
           </div>
            <div v-else>
                        <h2>Checkout</h2>
                        <p>
                            <strong>First Name:</strong>
                            <input v-model.trim = "order.firstName">
                        </p>
                       <p>
                        <strong>Last Name:</strong>
                        <input v-model.trim = "order.lastName">
                       </p>
                      
                        <p><strong>Phone number:</strong>
                            <input v-model.number="order.Phone" type="tel"></p>
                        </p>
                       </p>
                    
                       <h2>Order Information</h2>
                       <div class="lessons" v-for="item in cart">
                        <p>Subject: {{item.topic}}</p>
                        <p>location: {{item.location}}</p>
                                <!-- The double curly brackets is the shorter version of 'v-text' -->
                                <p>Price: {{item.price}}</p>
                                <p>Spaces: {{item.space}}</p>
                             
                        
                                <button class="myBtn" v-on:click="removeFromCart(item)">Remove from Cart</button>                 
                             
                       </div>
                       <button v-on:click="submitForm">Place Order</button>
           </div>
        </main>
        </div>
      
        <script type="text/javascript">
            
        var webstore = new Vue({
            el: '#app',
            data: {
                sitename: 'After School Lessons',
                products: [],
            
                cart: [],
                showProduct: true,
                searchValue:'',
              
                order:{
                    firstName :"",
                    lastName: "",
                     Phone: ""
                },
            
            
                selectedFilter: "Location",
            filters:[
                    "Subject",
                    "Location",
                    "Price",
                    "Availability"
                ],

                selectedArrangement:"ascending",
                arrangement:[
                    "ascending",
                    "descending"
                ]

            },
            created:
          function(){
            fetch('http://localhost:3000/collection/lessons').then(
              function(response){
                response.json().then(
                  function(json){
                      webstore.products = json
                      console.log("lessons" + this.products)
                      console.log("lessons json" + json)
                      console.log("lessons webstore " + webstore.products[0]._id)
                  }
                )
              }
            )     
          
        },      
        
          
            methods: {
                addToCart(product) {
                    console.log("Product "+ product._id)
                    if(this.cart.includes(product)){
                        product.space =  product.space -1; 
                        console.log("I'm in cart")
                    }else{
                        this.cart.push(product)  
                  product.space =  product.space -1; 
                   console.log(this.selectedFilter)  
                    }
                      

                    
                },
                
                removeFromCart(item) {
                   console.log('hello')
                    const index = this.cart.indexOf(item);
                    if (index > -1) { // only splice array when item is found
                        console.log('hey')
                    this.cart.splice(index, 1); // 2nd parameter means remove one item only
                    }
                  item.space =  item.space +1; 
                  console.log(product.space)
                   console.log(this.selectedFilter)     

                    
                },
                showCheckout() {
                    // console.log(this.showProduct);
                    this.showProduct = this.showProduct ? false : true;
                },
            
                
                submitForm(){
                    if(this.order.firstName ==="" || this.order.lastName === "", this.order.Phone === ""){
                    
                        alert("Empty fields")
                    }else{
                        //this.orders.push(this.order)
                        let newProductOrder = [];
                        for(let i=0; i< this.cart.length; i++){
                            console.log("Cart product Id: " + this.cart[0].space)
                            let cartId = this.cart[i]._id;
                            let newSpace = this.cart[i].space;
                            newProductOrder.push({
                                "lessonID": cartId,
                                "newSpace": newSpace
                            })
                        }
                    
                        fetch("http://localhost:3000/collection/orders", {
                    method: "POST",
                    body: JSON.stringify({
                        "firstName": this.order.firstName,
                        "lastName": this.order.lastName,
                        "phoneNumber": this.order.Phone,
                        "product": newProductOrder
                    }),
                    headers: {
                        "Content-type": "application/json; charset=UTF-8",
                    
                    }
                }).then((response) => {
                    for(let i = 0; i < newProductOrder.length; i++){
                        console.log("new Id " + newProductOrder[0]["lessonID"]);
                        let newProductId = newProductOrder[i]["lessonID"];
                        let newSpace = newProductOrder[i]["newSpace"];
                        fetch("http://localhost:3000/collection/lessons/"+newProductId, {
                    method: "PUT",
                    body: JSON.stringify({
                         "space": newSpace
                    }),
                    headers: {
                        "Content-type": "application/json; charset=UTF-8",
                    
                    }
                })
                    }
                })               
                        
                    }
                
                }, 
                canAddToCart(product) { return product.space > this.cartCount(product.id); },
                cartCount(id) {
                    let count = 0;
                     for (let i = 0; i < this.cart.length; i++) {
                         if (this.cart[i] === id) {
                            count++;
                         }
                         }
                          return count;
                          console.log(count)
            },
            async searchResult() {
      if (this.searchValue !== '') {
        
        const response = await fetch(
          `http://localhost:3000/collection/lessons/${this.searchValue}`
        ).then(
            function(response){
                response.json().then(
                  function(json){
                      this.webstore.products = [json];
                      console.log("lessons" + this.products)
                      console.log("lessons json" + json)
                     console.log("lessons webstore " + webstore.products[0]._id)
                  }
                )
              }
        );
        
 
      } else {
       
      }
    },

        },
       
            computed: {
                 searchResults() {
                    if(this.searchValue != ''){
                        fetch(`http://localhost:3000/collection/lessons/${this.searchValue}`).then(
              function(response){
                response.json().then(
                  function(json){
                      webstore.products = [json]
                      console.log("lessons" + this.products)
                      console.log("lessons json" + json)
                      console.log("lessons webstore " + webstore.products[0]._id)
                  }
                )
              }
            )     
                    }else{
                        fetch(`http://localhost:3000/collection/lessons/${this.searchValue}`).then(
              function(response){
                response.json().then(
                  function(json){
                      webstore.products = [json]
                      console.log("lessons" + this.products)
                      console.log("lessons json" + json)
                      console.log("lessons webstore " + webstore.products[0]._id)
                  }
                )
              }
            )     
          
                    }
                 
            return this.products
         
    },    
  searchResultValue(){
   return this.searchValue === '';
  },
   
    
                showCheckoutButton(){
                   return this.cart.length > 0;
                },
                cartItemCount() {
                    return this.cart.length;
                },
                sortedProducts(){
                   
                   if(this.selectedFilter == "Subject" ){
                    if(this.selectedArrangement == "ascending"){
                        let productsArray = this.products.slice(0)
                    function compare(a,b){
                        let fa = a.topic.toLowerCase(), fb = b.topic.toLowerCase();
                        if(fa > fb)
                        return 1;

                        if(fa < fb)
                         return -1;

                         return 0;
                    }

                    return productsArray.sort(compare);
                    }else{
                    let productsArray = this.products.slice(0)
                    function compare(a,b){
                        let fa = a.topic.toLowerCase(), fb = b.topic.toLowerCase();
                        if(fa < fb)
                        return 1;

                        if(fa > fb)
                         return -1;

                         return 0;
                    }
                    return productsArray.sort(compare);
                   }
                   
                   }
                        
                   else if(this.selectedFilter === "Location"){
                    if(this.selectedArrangement == "ascending"){
                        let productsArray = this.products.slice(0)
                    function compare(a,b){
                        let fa = a.location.toLowerCase(), fb = b.location.toLowerCase();
                        if(fa > fb)
                        return 1;

                        if(fa < fb)
                         return -1;

                         return 0;
                    }
                    return productsArray.sort(compare);
                    }else{
                    let productsArray = this.products.slice(0)
                    function compare(a,b){
                        let fa = a.location.toLowerCase(), fb = b.location.toLowerCase();
                        if(fa < fb)
                        return 1;

                        if(fa > fb)
                         return -1;

                         return 0;
                    }
                    return productsArray.sort(compare);
                   }
                   

                    
                   }


                   else if(this.selectedFilter == "Price"){
                    if(this.selectedArrangement == "ascending"){
                        let productsArray = this.products.slice(0)
                    function compare(a,b){
                        if(a.price > b.price)
                        return 1;

                        if(a.price < b.price)
                         return -1;

                         return 0;
                    }

                    return productsArray.sort(compare);
                    }else{
                    let productsArray = this.products.slice(0)
                    function compare(a,b){
                        if(a.price < b.price)
                        return 1;

                        if(a.price > b.price)
                         return -1;

                         return 0;
                    }

                    return productsArray.sort(compare);
                   }
                    
                   }

                   else if(this.selectedFilter == "Availability"){
                    if(this.selectedArrangement == "ascending"){
                        let productsArray = this.products.slice(0)
                    function compare(a,b){
                        if(a.space > b.space)
                        return 1;

                        if(a.space < b.space)
                         return -1;

                         return 0;
                    }

                    return productsArray.sort(compare);
                    }else{
                      let productsArray = this.products.slice(0)
                    function compare(a,b){
                        if(a.space < b.space)
                        return 1;

                        if(a.space > b.space)
                         return -1;

                         return 0;
                    }

                    return productsArray.sort(compare);
                   }
                   
                   }
                   

                }
                
            },
        });
    </script>
</body>
</html>

